# render.yaml
version: "1"

services:
  - type: web
    name: ogs-exam-portal-server
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000

  - type: web
    name: ogs-exam-portal-client
    env: static
    rootDir: client
    buildCommand: npm install && npm run build
    staticPublishPath: build
    envVars:
      - key: REACT_APP_API_URL
        value: https://ogs-exam-portal-server.onrender.com
